@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "poppins", sans-serif;
}

:root {
  /* colors  variables*/
  --primary-color: #fd9039;
  --linear-primary: #3b1375;
  --white-color: #ffffff;
  --text-color-onoe: #1b0639;
  --text-color-two: #d9d9d9;
  --background-color: #1b1a1d;
  --main-text: #33363f;
  --secondary-color: #3b1375;
}

main {
  /* border: 3px solid red; */
  max-width: 360px;
  height: 100vh;
}
header {
  background-image: url(../image/header-hero-bg-img.png);
  min-height: 43vh;
  max-width: 100%;
  overflow: hidden!important;
  background-repeat: no-repeat;
  background-size: cover;
}

.mobile-resposive {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 70%;
  margin-top: 5px;
  margin-left: 1.4rem;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  padding: 7px 5px 7px 5px;
  margin-right: 1.4rem;
  margin-top: 14px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #fd9039;
  border-radius: 2px;
  transition: all 0.3s ease;
}
/* kdujwdio */
.hero-collapse{
    position: relative;
    bottom: -148px;
    align-items: center;
    background: #fff;
    display: flex;
     margin: -70px auto;
     box-shadow: 0 0 10px;
    width:95%;
    height:auto;
    border-radius: 1rem;
    overflow: hidden;
}

.line{
    height: 2.6rem;
    width: 3px;
    border-radius: 5px;
    background: #D9D9D9;

}

.collapse-btn-dropbtn{
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 10px;
  background: transparent;
  border: none;
}

.collapse-dropdown{
    max-width: calc(92%/3);
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.hero-text h1 {
    text-align: start;
    width: 87%;
    font-size: 36px;
}

/* Dropdown container */
.collapse-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* Dropdown content (hidden by default) */
.collapse-dropdown-content {
    /* display: none; */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

/* Links inside the dropdown */
.collapse-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.collapse-dropdown a:hover {background-color: #f1f1f1}

/* Show the dropdown menu when the user clicks the button */
.show {display: block;}


.show {display: flex;}

/* jhcdyudg */

.mobile-navbar-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  max-width: 100%;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    #3b1375
  ) !important;
  backdrop-filter: blur(10px);
  border-radius: 0 0 10px 10px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(27, 27, 27, 0.815);
  transform: translateX(100%); /* Initially hidden */
  transition: transform 0.6s ease-in-out; /* Smooth transition */
}

/* Keyframes for sliding in */
@keyframes mobile-nav {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Applying the animation when the menu is active */
.mobile-navbar-menu.out {
  animation: mobile-nav_out 0.6s forwards;
  transform: translateY(0); /* Final position */
}

@keyframes mobile-nav_out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Applying the animation when the menu is active */
.mobile-navbar-menu.active {
  animation: mobile-nav 0.6s forwards;
  transform: translateX(0); /* Final position */
}

.mobile-navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 1rem;
}

.mobile-navbar-header .mobile-navbar-close-btn a {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--primary-color);
}

.mobile-navbar-menu ul li {
  list-style: none;
  line-height: 2.8rem;
  font-weight: 700;
}

.mobile-navbar-menu ul li a {
  text-decoration: none;
  color: var(--white-color);
  margin: 0;
  display: flex;
  align-items: center;
}

.mobile-navbar-menu ul li a i {
  text-decoration: none;
  color: var(--white-color);
  padding-right: 15px;
}

.fa-home {
  display: flex;
}

.fa-tasks {
  display: none;
}

.fa-image {
  display: none;
}

.fa-users {
  display: none;
}

.hero-text {
  max-width: 336px;
  max-height: 62px;
  padding: 20px;
}

.hero-text p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--text-color-two);
  text-align: left;
}

.hero-text h1 {   
  font-size: 20px;
    font-weight: 600;
    color: var(--text-color-two);
    line-height: 30px;
    text-align: start;
}


/* location section */

.hall-section {
  /* border: 2px solid red; */
}
.hall-section {
  text-align: start;
}

.hall-header-text h2 {
  margin-top: -0.2rem;
  font-size: 16px;
}

.hall-one {
  max-width: 161.53px;
  height: 173px;
  top: 401px;
  left: 21px;
  /* border: 1px solid red; */
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
}

.hall-one img {
  max-width: 100%;
  height: 150px;
  top: 401px;
  left: 21px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
}

.first-hall-section-col {
  display: flex;
  gap: 20px;
  margin: 0 0.4rem;
}

.second-hall-section-col {
  display: flex;
  gap: 20px;
  margin: 6rem 0.4rem;
}

.hall-location {
  display: flex;
  align-items: center;
  gap: 1px;
  margin-top: -1.2rem;
  margin-left: -0.29rem;
}

.hall-location p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.27px;
  margin-lef1: -1rem;
  margin-top: ;
}

.star-bundle {
  margin-top: -0.2rem;
}

.star-bundle img {
  width: 87px;
  height: 19px;
  margin-left: -0.2rem;
  border-radius: 47px;
}

/* location section end */

/* Hall Section */


/* Carousel Container */
.carousel-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

/* Event Hall Card */
/* .event-hall-wrapper {
  padding: 10px;
}

.event-hall-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.event-hall-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.event-hall-card h3 {
  padding: 10px;
  font-size: 20px;
}

.info {
  padding: 0 10px 10px 10px;
}

.info-bundle {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.info-bundle svg,
.info-bundle img {
  margin-right: 5px;
}

.last-info-bundle img {
  width: 20px;
} */

/* Carousel Navigation */
.carousel-navigation {
  position: absolute;
  top: 32%;
  margin-left: 0.8rem;
  width: 92%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 50%;
  transition: opacity 0.3s;
  width: 12%;
}

.carousel-button:hover {
  opacity: 1;
}

.last-info-bundle img {
  padding: 10px 0;
  width: 10rem;
}

.addition-box {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  min-height: auto;
  border-radius: 10px ;
  border: 5px 
  opacity: 1px;
}

.additional-service-container {
  max-width: 1390px;
  margin: 0 auto;
  min-height: auto;
  top: 981px;
  left: 76px;
  gap: 30px;
  opacity: 0px;
  display: grid;
  width: 90%;
}

.additional-service-container {
  grid-template-columns: 1fr;
}

.additional-services {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addition-box-title h2 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
  padding: 1rem;
  color: var(--text-color-onoe);
}

.addition-box p {
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--text-color-onoe);
}

.additional-services h1 {
  font-size: 1.5rem;
}

.addition-box a {
  color: var(--primary-color);
  margin: 3rem 0 !important;
}

.additional-services-carousel {
     position: relative;
    max-width: 92.2%;
    overflow: hidden;
}

.additional-services-carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.additional-services-addition-box {
  min-width: 94%;
  padding: 9px;
}

.additional-services-carousel-button {
      position: absolute;
    font-size: 1rem;
    top: 15%;
    transform: translateY(-50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: rgba(105, 105, 105, 0.589);
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
}

.additional-services-carousel-button.prev {
  left: 15px;
  /* border: 1px solid red; */
  background-color: white;
}

.additional-services-carousel-button.next {
  right: 15px;

  background-color: white;
}

.testimonials {
  margin: 3rem auto;
  max-width: 90%;
  overflow: hidden;
}

.test {
  /* border: 2px solid red; */
  max-width: 600px;
  margin: auto;
}

.testimonal-header-text h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.testimonal-header-img {
  min-width: 100%;
  box-sizing: border-box;
  display: none; /* Hide all slides by default */
}

.testimonal-header-img p {
  text-align: center;
}

.testimonal-header-img img {
  display: flex;
  margin: 0 auto;
  max-width: 60%;
}

.testimonal-star-Rating img {
  display: flex;
  margin: 0 auto;
  max-width: 50%;
}

.testimonals-text p {
  font-family: 'Poppins';
  font-size: 12px;
  padding: 0 1rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  /* border: 2px solid red; */
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;

}

.other-img {
  background-color: blueviolet;
  border-radius: 50%;
  width: 55%;
  margin-left: 5rem !important;
}

.testimonals-text {
  max-width: 90%;
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 6px;
  height: 180px;
}

.dots-container {
  text-align: center;
  padding: 10px;
}

.dot {
  height: 14px;
  width: 14px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slide-container {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.agency-container {
  max-width: 83%;
  padding: 20px;
  margin: 10px auto;
  height: auto;
  background-color: var(--secondary-color);
  border-radius: 10px;
  text-align: center;
}

.agency-container .agency-header {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: var(--white-color);
}

.agency-main-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--white-color);
}
 
.join-us {
  border-radius: 15px;
  max-width: 60%;
  margin-left: 1.7rem;
  opacity: 0px;
  border: none;
  padding: 1rem 2rem;
  background-color: #fd9039;
}

.join-us a {
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  color: var(--white-color);
}

.faq-section{
  /* border: 2px solid red; */
  
  /* background-color: var(--background-color); */
}

.faq-section h2 {
 font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: center;

}

.faq-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem;
  width: 100%;
}

.faq-main {
  display: flex;
  width: 80%;
  color: var(--white-color);
  align-items: center;
  justify-content: space-between;
}

.faq-main svg {
  color: var(--white-color) !important;
}

.show {
  display: none;
}

.faq-content {   
  margin: 0 auto;
}

.faq-content label {
     background-color: var(--background-color) !important;
    color: var(--white-color);
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 85%;
    padding: 1.3rem !important;
}

.toggle {
  display: none;
}

/* Default styling for the collapsible content */
.content {
      display: none;
    padding: 10px;
    width: 100%;
    max-width: 91%;
    margin-top: 10px;
    background: var(--main-text);
    color: var(--white-color);
}


/* Styling for the label, making it look clickable */
.toggle + label {
  cursor: pointer;
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
}

/* Show content when checkbox is checked */
.toggle:checked + label + .content {
  display: block;
}


.faq-content p{
  font-family: Poppins;
font-size: .8rem;
font-weight: 400;
line-height: 24px;
text-align: left;

}

